// [[ Bulk RNA-Seq Pipeline Config ]]

// NOTE: when defining which samples to use, make sure to check the avg read length for those samples.
// the siRNA samples are all ~51bp, and the tissues are ~151bp.

// MUST SET:
    // outputDir name
    // reads/samplesheet
    // read_length


workflow.output.mode = 'copy'
outputDir = 'all_samples_results'

params {
    
    proj_name = "Aedes Aegypti total RNAseq Analysis Pipeline"

    fastq_files = "${projectDir}/fastq_symlinks"  // wherever your FASTQs live
    reads_test = "${projectDir}/sirna_samplesheet_test.csv" 
    reads = "${projectDir}/samplesheet_all.csv"
    rrna_fasta  = "${projectDir}/refs/aaegypti_rRNA.fa"
    virna_fasta  = "${projectDir}/refs/combined_viral.fa"
    read_length = 150 // set to whatever the samples are avg read length

    // for TXIMPORT (generated with tx2gene.sh script from gtf)
    tx2gene = "${projectDir}/bin/tx2gene.tsv"

    // STAR Genome directories
    reference_genome = "${projectDir}/refs/GCF_002204515.2_AaegL5.0_genomic.fna"
    reference_gtf   = "${projectDir}/refs/AeAeg_GCF_002204515.2.fixed.gtf" // replacing with fixed GTF that has lines with 'transcript_id "" ' (empty) removed, since StringTie will fail
    reference_transcriptome = "${projectDir}/refs/Aedes_aegypti_transcriptome_reference.fna"
    reference_bed = "${projectDir}/refs/annotation.bed"

    // additional params

    strand_st = "--rf"  // read more: https://ccb.jhu.edu/software/stringtie/index.shtml?t=manual
    strand_hts = "reverse"  // yes, no or reverse values can be used, read more: https://htseq.readthedocs.io/en/release_0.11.1/count.html
    paired_hts = "pos"  // name and pos values can be used, read more: https://htseq.readthedocs.io/en/release_0.11.1/count.html

}

// profiles settings
profiles {

    conda {
        conda.enabled    = true
        conda.useMamba   = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    cluster {
        process {
            executor       = 'sge'
            shell          = ['/bin/bash', '-l']
            clusterOptions = '-P lau-bumc'
            conda          = '/projectnb/lau-bumc/emily/.conda/envs/rnaseq_env'
            penv           = 'omp'
            cpus           = 1
            withLabel: process_single { cpus = 1  }
            withLabel: process_low    { cpus = 4  }
            withLabel: process_medium { cpus = 8  
                memory = '16.GB'
                }
            withLabel: process_high   { 
                cpus = 16 
                clusterOptions = "-P lau-bumc -l mem_per_core=8G"
                }
            withName: 'STAR_.*' {
                clusterOptions = '-P lau-bumc -l avx2'
            }
        }
    }

}

// #########################################################################################################################################
// #########################################################################################################################################

//Miscellaneous CLI flags
resume = true

// #########################################################################################################################################
// #########################################################################################################################################